body
{
    background-color: grey;
}

#container
{
    margin: 0 auto;
    width: 1100px;
    background:orange;
       
}

h3
{
   text-align: center;
   color: black;
   background-color: ghostwhite;
}
div
{
    text-align: center;
    
}
table
{
    margin: auto;
    width: 700px;
    background-color: yellowgreen;
    
    
}
th{
    
    border-color: black;
}
td{
    font-family: arial;
    background-color:buttonface;
}

